################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/card-game-leadsquared/v16
/CardGame/obj
/CardGame/.vs/CardGame/v16/.suo
/CardGame/.vs/CardGame/v16
/CardGame/.vs/CardGame/DesignTimeBuild
